.top-image-container {
  position: relative;
  margin: auto;

  > h1 {
    position: absolute;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    font-size: 4em;
    bottom: 20px;
    width: 100%;
    text-shadow: 1px 1px 2px darken($color: $secondary-color, $amount: 40);
  }
}

.top-image {
  width: 100%;
  display: block;
  height: auto;
}

.middle-text.container {
  max-width: 1350;
  position: relative;
  margin: auto;
  text-align: justify;
}

.middle-text {
  transition: opacity 200ms ease-in-out;
  > h1 {
    margin-left: 10px;
  }
  > p {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.6;
    line-height: 1.375;
  }
}
//contact us banner
.contact-us-banner {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  background: $secondary-color;

  > p {
    font-size: 1rem;
    margin: 0;
    color: white;
  }
}

.employee-col {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: white;
  padding-bottom: 20px;

  > h2 {
    font-size: 2em;
  }
}

.employee {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid darken($primary-color, 20%) 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px $primary-color;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }

  > img {
    border-bottom: $primary-color solid 5px;
  }

  > div {
    > h2 {
      margin: 0;
      padding: 0;
    }
  }
}

.fadeAbout {
  -webkit-animation-name: fadeAbout;
  -webkit-animation-duration: 2s;
  animation-name: fadeAbout;
  animation-duration: 2s;
}

@-webkit-keyframes fadeAbout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeAbout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
