// Widescreens
@include mediaXL {
}
// Deskstops + Laptops
@include mediaLg {
}
// tablet + small laptop
@include mediaMd {
  //services
  .inner-head-content {
    font-size: 25px;
  }
}
// smartphones
@include mediaSm {
  //navbar mobile
  label {
    display: block;
    cursor: pointer;
  }

  .centerHeader {
    flex-direction: column;
  }

  nav {
    width: 100%;
  }

  .navLinks {
    text-align: center;
    width: 100%;
    transition: ease-out;
    display: block;
    padding: 0;

    > li {
      display: block;
      padding-top: 10px;
      border-bottom: 1px solid $secondary-color;
      &:hover {
        background-color: rgba(#717171, 0.6);
      }
    }
  }

  .step-col {
    margin-left: 0;
  }

  .step-container {
    display: block;
  }
  .visual-with-text {
    flex-direction: column;
  }
  .visual-column,
  .text-column {
    width: 100%;
  }

  .visual-with-text:nth-child(2) {
    > .visual-column {
      order: -1;
    }
  }

  .topHeader {
    display: none;
  }

  .from-left {
    transform: translateX(0);
  }

  .from-right {
    transform: translateX(0);
  }

  // AboutUs
  .employee-col {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .employee {
    margin: 5px 0px;
  }

  //services
  .inner-head-content {
    margin-bottom: auto;
    padding-bottom: 0px;
    font-size: 15px;
  }
  //contact
  .contact-us-row {
    flex-direction: column;
  }
}
